<%- include('../partials/header'); %>
<div class="container">
  <div class="row text-center " style="display:flex; flex-wrap:wrap;">
    <% company.applicants.forEach(function(applicant){ %>
      <div class="col-md-3 col-sm-6" style="margin: 10px;">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= applicant.name %></h5>
          <p class="card-text"><%= applicant.jobSummary %></p>
          <a href="/company/<%=company._id %>/applicantProfile/<%= applicant.id %>" class="btn btn-primary">View profile</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include('../partials/footer'); %>