<%- include('../partials/header'); %>

<div class="container">
  <form action="/company/<%= company._id %>?_method=PUT" method="POST">
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Name</label>
      <input type="text" class="form-control" name="company[companyName]" rows="3" value="<%= company.companyName %>">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Job summary</label>
      <textarea type="text" class="form-control" name="company[jobDescription]" rows="3" ><%= company.jobDescription %></textarea>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Location</label>
      <input type="text" class="form-control" name="company[location]" value="<%= company.location %>">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Role</label>
      <input type="text" class="form-control" name="company[role]" aria-describedby="emailHelp" value="<%= company.role %>">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" name="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include('../partials/footer'); %>